<form method="POST" action="{{ .Site.Params.staticman_endpoint }}{{ .Site.Params.staticman_username }}/{{ .Site.Params.staticman_repository }}/{{ .Site.Params.staticman_branch }}/comments">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
    <p>
        <input name="fields[name]" type="text" placeholder="名字 (必填)">
        <input name="fields[email]" type="email" placeholder="您的 Email">
    </p>
    <p>
        <textarea id="comment-box" name="fields[body]" placeholder="欢迎留言，支持 Markdown" rows="10"></textarea>
        <input type="submit" value="发表">
    </p>
</form>
